<footer class="site-footer">
  <section class="wrapper">
    {% comment %}<h1 class="footer-heading">About me</h1>{% endcomment %}
    {% assign foundFooterPage = false %}
    {% for page in site.pages %}
      {% if page.footer %}
        {% assign foundFooterPage = true %}
      {% endif %}
    {% endfor %}
    {% if foundFooterPage %}
      <div class="footer-blob">
        {% for page in site.pages %}
          {% if page.footer %}
            {% assign foundFooterPage = true %}
            {{ page.content | markdownify }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <ul class="contact-list">
      {% if site.email %}
        {% capture email_icon %}{% include icon-email.svg %}{% endcapture %}
        <li>
          <a class="email"></a>
          <script>(function(e, el) {
            el.href = ["mai", "lto:", e].join("");
            el.innerText = decodeURI(e);
          })(
            "{{ site.email | encode_email }}",
            document.querySelector('.contact-list .email')
          )</script>
        </li>
      {% endif %}
      {% if site.linkedin_username %}
        <li>
          <a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">LinkedIn</a>
        </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        <a class="twitter" href="https://twitter.com/{{ site.twitter_username }}/">Twitter</a>
      </li>
      {% endif %}
    </ul>
  </section>
</footer>
