<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url}}">
      {% if site.logo %}
        <img src="{{ site.logo | prepend: "assets/" | relative_url }}" alt="{{ site.title | escape }}" height="52" width="65" />
      {% else %}
          {{ site.title | escape }}
      {% endif %}
    </a>

    <nav class="site-nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
          {% if page.url == my_page.url or (my_page.title == "Work" and page.url contains 'case-study') %}
            <a class="page-link active" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% else %}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
