---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$one: #000000;
$two: #2F4550;
$three: #586F7C;
$four: #A8C8C6;
$five: #F4F4F9;
$six: white;

$text-color:       $one;
$background-color: $six;
$brand-color:      $two;

$grey-color:       $three;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$gutter-width:     20px;
$column-width:     85px;

$on-palm:          545px; // 5 columns + 6 gutters
$on-laptop:        755px; // 7 columns + 8 gutters
$on-desktop:       1070px; // 10 columns + 11 gutters
//$on-desktop:       1280px; // 12 columns + 13 gutters

@font-face{
    font-family: "Gotham";
    src: url('/assets/GOTHAM-MEDIUM.ttf');
}

@font-face{
    font-family: "DIN";
    src: url('/assets/DINRegularAlternate.ttf');
}

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin prefix($property, $value, $prefixes: (webkit, moz, ms, o)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// Import partials from the `minima` theme.
// @import "minima";

//reset & util
* {
    box-sizing: border-box;
    margin-top: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.accessible {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
}

//layout
.site-header, .home-header, .site-footer, .page-content, .post, .post-header, .post-list-item {
    > .wrapper {
        margin: 0 auto;
        padding: 0 $gutter-width;
        max-width: $on-palm;

        @include media-query($on-laptop) {
            padding: 0;
            max-width: $on-laptop - $column-width;
        }

        @include media-query($on-desktop) {
            max-width: $on-desktop - $column-width;
        }
    }
}
.site-header > .wrapper {
    max-width: $on-palm;

    @include media-query($on-laptop) {
        max-width: $on-laptop;
    }

    @include media-query($on-desktop) {
        max-width: $on-desktop;
    }
}

.site-header {
    .wrapper { height: 80px; }
    a {
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.site-footer {
    padding: (2 * $spacing-unit) 0 $spacing-unit;

    .footer-col-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    @include media-query($on-laptop) {
        .footer-col-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }

        .footer-col {
            margin-right: 3 * $spacing-unit;
        }

        .footer-col-2 {
            margin-top: $spacing-unit;
        }
    }

    .contact-list {
        margin-top: $spacing-unit;

        li {
            display: inline-block;
            margin-right: $spacing-unit;
        }
    }
}

.post-header > .wrapper {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}
.hero-image {
    width: 100%;
}
.post > .wrapper {
    padding-bottom: 3 * $spacing-unit;
}
.post-content {
    margin: $spacing-unit auto;
    max-width: ($column-width + $gutter-width) * 6;
    @include media-query($on-laptop) {
        // in this range, the text isn't so wide that it hits the max-width, and yet
        // we want to make it narrower than the section above
        margin: $spacing-unit ($column-width + $gutter-width) / 2;
    }
    @include media-query($on-desktop) {
        margin: $spacing-unit auto; // max-width is enough to keep the margin big
    }
}
.next-post {
    text-align: right;
    margin-top: 3 * $spacing-unit;
}

// styles

.site-footer {
    background-color: $five;
    .home + & {
        background-color: $six;
    }

    .contact-list li path {
        fill: $four;
    }
}


.home-header {
    padding: (3 * $spacing-unit) 0;

    .wrapper {
        box-sizing: border-box;

        @include media-query($on-desktop) {
            padding: 0 ($gutter-width + $column-width);
        }
    }

    h1 .sub {
        font-size: $base-font-size;
        display: inline-block;
        width: 100%;
    }
}

.home {
    $bg-color: $five;
    $arrow-size: 16px;

    background-color: $bg-color;
    padding: ($spacing-unit * 2) 0 ($spacing-unit * 4);

    .post-list {
        > li {
            padding: 0;

            > a, > a:hover, > a:active, a:focus {
                color: inherit;
                text-decoration: inherit;
            }

            > a {
                display: block;
                padding: $spacing-unit 0;

                .post-image {
                    width: 100%;
                    flex-grow: 0;
                    flex-shrink: 0;
                }

                > .wrapper {
                    position: relative;

                    &::after {
                        content: '➡';
                        color: $four;
                        position: absolute;
                        bottom: -$arrow-size;
                        right: $arrow-size;
                    }
                }

                @include media-query($on-laptop) {
                    height: 200px + (2 * $spacing-unit);

                    > .wrapper {
                        height: 100%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        &::after {
                            bottom: 0;
                        }
                    }

                    .column {
                        height: 100%;
                        padding-bottom: $base-font-size * $base-line-height;
                        position: relative;
                        overflow: hidden;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: $base-font-size * ($base-line-height + 2);
                            background: transparent linear-gradient(to bottom, rgba(255,255,255,0) 0, $bg-color ($base-font-size * 2));

                        }
                    }

                    .post-image {
                        height: 100%;
                        width: (3 * $column-width) + (2 * $gutter-width);
                        margin-right: $gutter-width;
                    }
                }

                @include media-query($on-desktop) {
                    > .wrapper {
                        padding: 0 ($column-width + $gutter-width);
                        &::after {
                            right: $arrow-size + $column-width + $gutter-width;
                        }
                    }
                    height: 270px + (2 * $spacing-unit);

                    .post-image {
                        width: (4 * $column-width) + (3 * $gutter-width);
                    }
                }

                &:hover {
                    background-color: $three;
                    color: $five;

                    .post-meta {
                        background-color: $two;
                    }

                    @include media-query($on-laptop) {
                        .column::after {
                            background: transparent linear-gradient(to bottom, rgba(255,255,255,0) 0, $three ($base-font-size * 2));
                        }
                    }
                }
            }
        }
    }
}

.post-header {
    background-color: $two;
    color: $five;
}

.post-meta {
    text-transform: uppercase;
    border-radius: 4px;
    background-color: $four;
    padding: 4px 4px 2px;
}

.post-content {
    ul {
        list-style-type: disc;
        margin-left: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    @include prefix(transform, rotate(120deg));
    width: 200px; // width along a side. image must be 7/6th of this (e.g. 232.67
    height: 400px; // wide enough not to matter, short enough not to push the box too big
    margin: -80px 0 0 0; // put it back in the box

    img {
        margin-top: 84px;
        margin-left: -16px;
    }
}
.hexagon-in1, .hexagon-in2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include prefix(transform, rotate(-60deg));
}
.hexagon-in2 {
    visibility: visible;
}
