---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$fallback-fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: Karla, $fallback-fonts;
$heading-font-family: $base-font-family;
$base-font-size: 18px;
$large-font-size: 28px;
$medium-font-size: 24px;
$tiny-font-size: 16px;
$base-font-weight: 400;
$post-content-font-weight: 400;
$base-line-height: 1.5;
$site-title-font-size: 22px;
$site-nav-font-size: 20px;

$spacing-unit: 30px;

$one: #333333;
$two: #525B67;
$three: #FC4A1A;
$four: #707070;
$five: #3D5A80;
$six: white;
$seven: #777777;

$text-color: $one;
$subtitle-text-color: $seven;
$secondary-text-color: $two;
$subtle-text-color: $four;
$background-color: $six;
$highlight-color: $three;
$section-header-color: $five;
$link-color: $three;
$link-hover-color: darken($link-color, 10%);
$link-active-color: $five;

// Width of the content area
$gutter-width:     20px;
$column-width:     85px;

$on-palm: palm;
$palm-width-min: 545px; // no page should require more space than this

$on-laptop: laptop;
$laptop-width-min: 755px;

$on-desktop: desktop;
$desktop-width-min:       885px;

$palm-width-max: 545px;

$arrow-size: 48px;

@mixin mouseEnabled {
    @media screen and (pointer: fine) {
        @content;
    }
}

@mixin minWidth($device) {
    @if $device == $on-desktop {
        @media screen and (min-width: $desktop-width-min) {
            @content;
        }
    } @else if $device == $on-laptop {
        @media screen and (min-width: $laptop-width-min) {
            @content;
        }
    } @else if $devie == $on-palm {
        @media screen and (max-width: $laptop-width-min) {
            @content;
        }
    }

}

@mixin prefix($property, $value, $prefixes: (webkit, moz, ms, o)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

// Import partials from the `minima` theme.
// @import "minima";

//reset & util
* {
    box-sizing: border-box;
    margin-top: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.accessible {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
}

//layout
.site-header, .home-header, .site-footer, .page-content, .post, .post-header, .post-list-item {
    > .wrapper {
        margin: 0 auto;
        padding: 0 $gutter-width;
        max-width: $palm-width-min;

        @include minWidth($on-laptop) {
            padding: 0;
            max-width: $laptop-width-min - $column-width;
        }

        @include minWidth($on-desktop) {
            max-width: $desktop-width-min - $column-width;
        }
    }
}

.site-header {
    .site-title {
        font-size: $site-title-font-size;
        font-weight: bold;
        flex-shrink: 2;
    }

    .wrapper {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        display: inline-block;
        margin: 0 ($spacing-unit / 2);
        border: 2px solid transparent;
        padding: 0;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        @include minWidth($on-laptop) {
            margin: 0 (2 * $spacing-unit);
        }
    }

    .site-nav {
        .active {
            position: relative;

            &::after {
                content: ' ';
                display: block;
                bottom: -5px;
                left: 0;
                height: 3px;
                width: 100%;
                border-radius: 3px;
                background-color: $link-color;
            }

            &:hover::after {
                background-color: $link-hover-color;
            }
            &:active::after {
                background-color: $link-active-color;
            }
        }
    }
}

.site-footer {
    .contact-list {
        margin: (4 * $spacing-unit) 0 100px;
        display: flex;
        flex-direction: column;
        
        li {
            display: block;
            width: 50%;
            margin: $spacing-unit 0;
        }

        @include minWidth($on-laptop) {
            flex-direction: row;
        } 
    }
}

.site-header, .site-footer {
    a {
        font-size: $site-nav-font-size;
        font-weight: bold;
        text-decoration: none;
        color: $link-color;

        &:hover {
            color: $link-hover-color;
        }
        &:active {
            color: $link-active-color;
        }
    }
}

.post-header {
    > .wrapper {
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit;
    }

    .post-title {
        margin-top: 2 * $spacing-unit;
    }
}
.hero-image {
    width: 100%;
}
.post > .wrapper {
    padding-bottom: 3 * $spacing-unit;
}
.post-content {
    margin: $spacing-unit auto;
    font-weight: $post-content-font-weight;
}
.next-prev-nav {
    margin-top: 3 * $spacing-unit;
    width: 100%;
    text-transform: uppercase;
    font-size: $tiny-font-size;

    @include minWidth($on-laptop) {
        display: flex;
        justify-content: space-between;
    }
}
.next-post:first-child {
    width: 100%;
    text-align: right;
}
.prev-post, .next-post {
    white-space: nowrap;
    letter-spacing: 1px;
    display: flex;
    overflow: hidden;
    align-items: center;

    &, &:hover, &:visited {
        text-decoration: none;
        vertical-align: middle;
        color: $subtle-text-color;
    }
    &:active {
        color: $text-color;
    }

    > span {
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 1;
    }
}
.prev-post::before,
.next-post::after {
    display: inline-block;
    content: '∟';

    vertical-align: middle;
    color: $subtle-text-color;
    font-size: $arrow-size;

    transition: 0.2s transform;
}
.prev-post{
    padding-left: 5px;
    &::before {
        margin-right: $gutter-width;
        transform: rotate(45deg);
    }
    &:hover::before {
        transform: translate(-5px) rotate(45deg);
    }
}
.next-post {
    text-align: right;
    padding-right: 5px;
    justify-content: flex-end;

    &::after {
        margin-left: $gutter-width;
        transform: rotate(225deg);
    }

    &:hover::after {
        transform: translate(5px) rotate(225deg);
    }
}

// styles

.home-header {
    margin-top: 4 * $spacing-unit;

    .wrapper {
        box-sizing: border-box;
    }

    p:empty { display: none;}

    p {
        font-size: 34px;
        font-weight: bold;
    }
}

.home {
    padding: ($spacing-unit * 3) 0 ($spacing-unit * 4);

    .page-heading {
        margin-bottom: $spacing-unit * 2;
    }

    .post-list {
        display: flex;
        flex-wrap: wrap;

        > li {
            box-sizing: border-box;
            width: 100%;
            color: $highlight-color;

            @include minWidth($on-laptop) {
                width: 50%;
                padding: 0 (2 * $gutter-width) (2 * $gutter-width) 0;
            }

            .js-enabled & {
                transform: translateY(1000px);
                transition: 0s transform ease-out;
            }
            .js-enabled.page-loaded & {
                transform: translateY(0);
            }

            &:nth-child(6n + 0) { transition-duration: 0.7s; }
            &:nth-child(6n + 1) { transition-duration: 0.6s; }
            &:nth-child(6n + 2) { transition-duration: 0.8s; }
            &:nth-child(6n + 3) { transition-duration: 0.7s; }
            &:nth-child(6n + 4) { transition-duration: 1.0s; }
            &:nth-child(6n + 5) { transition-duration: 0.4s; }

            > a, > a:hover, > a:active, a:focus {
                color: inherit;
                text-decoration: inherit;
            }

            > .post-list-item {
                display: block;
                position: relative;
                box-sizing: border-box;

                .post-image {
                    width: 100%;
                    object-fit: cover;
                    transform: translateY(0);
                    transition: 0.2s transform ease-in-out;
                }

                .post-title {
                    font-size: $medium-font-size;
                }

                .post-meta {
                }

                &:hover {
                    .post-title {
                        //text-decoration: underline;
                        color: $link-hover-color;
                    }
                    .post-image {
                        transform: translateY(-10px);
                    }
                }
                //background: transparent linear-gradient(to bottom, rgba(255,255,255,0) 0, $bg-color ($base-font-size * 2));

            }
        }
    }
}

.post-header {
    .post-title {
        font-size: 34px;
        font-weight: bold;
    }

    .post-subtitle {
        font-size: $base-font-size + 3;
        letter-spacing: 0.5px;
        color: $subtle-text-color;
        font-weight: bold;
    }
}

.post-content {
    a {
        color: $link-color;
    }
    a:hover {
        color: $link-hover-color;
    }
    a:visited {
        color: $subtle-text-color;
    }
    a:active {
        color: $secondary-text-color;
    }

    p {
        margin-bottom: 40px;
    }

    ul {
        list-style-type: disc;
        margin-left: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    img, iframe {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    > img, > iframe {
        margin: $spacing-unit auto;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $heading-font-family;
        letter-spacing: 1px;
    }

    h1, h2 {
        color: $section-header-color;
        margin-top: 1.5 * $spacing-unit;
    }
    h3, h4, h5, h6 {
        color: $secondary-text-color;
    }

    h2 {
        font-size: $large-font-size;
    }
    h3 {
        font-size: $medium-font-size;
    }
    h4, h5, h6 {
        color: $text-color;
        font-weight: 100;
        font-size: $medium-font-size;
        letter-spacing: 0;
    }
}

.home-header h1, .page-heading, .footer-heading, .post-header .post-meta {
    font-family: $heading-font-family;
    letter-spacing: 1px;
}

// components

a.link-button {
    border: 2px solid $highlight-color;
    color: $highlight-color;
    background-color: $background-color;
    font-size: $tiny-font-size;
    padding: $spacing-unit/2;
    display: table;
    margin: $spacing-unit auto;
    text-decoration: none;
    text-transform: uppercase;

    &:visited, &:active {
        color: $highlight-color; // override post-content stuff for links
    }

    &:hover { // invert
        color: $background-color;
        background-color: $highlight-color;
    }
}

table.image {
    margin: 0 auto $spacing-unit;
    max-width: 100%;

    caption {
        font-size: $tiny-font-size;
        color: $secondary-text-color;
        margin-top: $spacing-unit / 2;
    }
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    @include prefix(transform, rotate(120deg));
    width: 200px; // width along a side. image must be 7/6th of this (e.g. 232.67
    height: 400px; // wide enough not to matter, short enough not to push the box too big
    margin: -80px 0 0 0; // put it back in the box

    img {
        margin-top: 84px;
        margin-left: -16px;
    }
}
.hexagon-in1, .hexagon-in2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include prefix(transform, rotate(-60deg));
}
.hexagon-in2 {
    visibility: visible;
}
