---
layout: base
---
{% include header.html %}
<main class="page-content" aria-label="Content">
  <article class="post">
    <header class="post-header">
      <div class="wrapper">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <span class="post-subtitle">{{ page.subtitle | markdownify }}</span>
      </div>
    </header>
    <div class="wrapper">
      <img class="hero-image" src="{{ page.image | prepend: "assets/" | relative_url }}" alt="{{ page.title | append: " screenshot" | escape}}" />
      <div class="post-content">
        {{ content }}
      </div>
      <div class="next-prev-nav">
        {% comment %} get prev and next indexes {% endcomment %}
        {% assign prev_i = -1 %}
        {% assign next_i = -1 %}
        {% assign sortedCaseStudies = site.case_studies | sort: 'date' | reverse %}
        {% for study in sortedCaseStudies %}
          {% if study.title == page.title %}
            {% unless forloop.first %}
              {% assign prev_i = forloop.index0 | minus: 1 %}
            {% endunless %}
            {% unless forloop.last %}
              {% assign next_i = forloop.index0 | plus: 1 %}
            {% endunless %}
          {% endif %}
        {% endfor %}

        {% if prev_i != -1 %}
          {% assign prev = sortedCaseStudies[prev_i] %}
          <a class="prev-post" href="{{prev.url | relative_url }}"><span>{{ prev.title | escape }}</span></a>
        {% endif %}
        {% if next_i != -1 %}
          {% assign next = sortedCaseStudies[next_i] %}
          <a class="next-post" href="{{next.url | relative_url }}"><span>{{ next.title | escape }}</span></a>
        {% endif %}
      </div>
    </div>
  </article>
</main>
{% include footer.html %}
