---
layout: base
---
{% include header.html %}
<header class="home-header">
  <div class="wrapper">
    <p>{{ content }}</p>
  </div>
</header>
<main class="page-content home" aria-label="Content">
  <div class="wrapper">
    {% for coll in site.collections %}
      {% if coll.label == 'case_studies' %}
        {% if coll.output %}
          <ul class="post-list">
            {% assign sortedCaseStudies = site.case_studies | sort: 'date' | reverse %}
            {% for study in sortedCaseStudies %}
              <li>
                <a class="post-list-item" href="{{ study.url | relative_url }}">
                    {% capture image_alt %}{% if study.image_alt %}{{ study.image_alt }}{% else %}{{ study.title | append: " screenshot" }}{% endif %}{% endcapture %}
                    <img class="post-image" src="{{ study.image | prepend: "assets/" | relative_url }}" alt="{{ image_alt | escape }}" />
                    <div class="post-meta">
                      <h2 class="post-title">{{ study.title | escape }}</h2>
                    </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h2 class="page-heading">Case Studies</h2>
          <p style="margin-left: 400px;">Coming soon...</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</main>
{% include footer.html %}
