---
layout: base
---
{% include header.html %}
<header class="home-header">
  <div class="wrapper">
    <h1>UX design <span class="sub">to solve problems and delight</span></h1>
    <p>The UX portfolio of Phaemie Ng</p>
  </div>
</header>
<main class="page-content home" aria-label="Content">
  <div class="wrapper">
    <h2 class="page-heading">Case Studies</h2>
  </div>
  <ul class="post-list">
    {% if site.case_studies == null or site.case_studies.size == 0 %}
    <li style="margin-left: 400px;">Coming soon...</li>
    {% endif %}
    {% for study in site.case_studies %}
      <li>
        <a class="post-list-item" href="{{ study.url | relative_url }}">
          <div class="wrapper">
            {% capture image_alt %}{% if study.image_alt %}{{ study.image_alt }}{% else %}{{ study.title | append: " screenshot" }}{% endif %}{% endcapture %}
            <img class="post-image" src="{{ study.image | prepend: "assets/" | relative_url }}" alt="{{ image_alt | escape }}" />
            <div class="column">
              <span class="post-meta">{{ study.project_type | escape }}</span>
              <h2 class="post-link">{{ study.title | escape }}</h2>
              {{ study.excerpt }}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
{% include footer.html %}
